<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RepScout Sample API Integration</title>
</head>
<body>
    <% if (activeAssignments.length > 0) { %>
    <h1>Active Assignments:</h1>
    <ul>
        <% activeAssignments.forEach(assignment => { %>
            <li>
                <div>
                    <h3>Name: <%= assignment.campaign_name %></h3>
                    <p>Status: <%= assignment.assignment_status %></p>
                    <p>Score: <%= assignment.assignment_score %></p>
                    <p>Feedback: <%= assignment.assignment_feedback %></p>
                </div>
                <ul>
                    <% assignment.assessments.forEach(assessment => { %>
                        <li>
                            <h5><%= assessment.assessment_name %></h5>
                            <p>Status: <%= assessment.assessment_status %></p>
                            <p>Score: <%= assessment.assessment_score %></p>
                            <p>Feedback: <%= assessment.assessment_feedback %></p>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
    <% } %>
    <h1>Candidates:</h1>
    <ul>
        <% candidates.forEach(candidate => { %>
            <li>
              <form action="/assignment.start" method="post">
                <!-- We are just using the first assignment template for now -->
                <label for="candidate_name">Candidate Name: </label> 
                <input type="text" name="candidate_name" placeholder="Candidate Name" value="<%= candidate.name %>">
                <label for="candidate_email">Candidate Email: </label>
                <input type="text" name="candidate_email" placeholder="Candidate Email" value="<%= candidate.email %>">
                <label for="assignment_type_id">Assignment Template ID: </label>
                <input type="text" name="assignment_type_id" placeholder="Assignment Template ID" value="<%= assignmentTemplates[0].assignment_type_id %>">
                <input type="submit" value="Start Assignment">
              </form>
            </li>
        <% }); %>
    </ul>

    <h3>Other Assignment Templates</h3>
    <ul>
        <% assignmentTemplates.forEach(template => { %>
            <li><%= template.name %> - <%= template.assignment_type_id %></li>
        <% }); %>
    </ul>
</body>
</html>